/*
==================================================
==================================================

 DEFAULT SKIN

==================================================
==================================================
*/

.default ::selection {
	background:#4DA6FF;
	color:#FFF;
}

.default ::-moz-selection{
	background:#4DA6FF;
	color:#FFF;
}

.default .navbar {
    background-color: #4DA6FF;
}

.default textarea:focus,
.default input[type="text"]:focus,
.default input[type="password"]:focus,
.default input[type="datetime"]:focus,
.default input[type="datetime-local"]:focus,
.default input[type="date"]:focus,
.default input[type="month"]:focus,
.default input[type="time"]:focus,
.default input[type="week"]:focus,
.default input[type="number"]:focus,
.default input[type="email"]:focus,
.default input[type="url"]:focus,
.default input[type="search"]:focus,
.default input[type="tel"]:focus,
.default input[type="color"]:focus,
.default .form-control:focus{
    border: 2px solid #4DA6FF;
    background:#FFF;
}



.default .btn-default:hover,.default .btn-default:active{
	background:#FFF;
	border-color:#4DA6FF !important;
	color:#4DA6FF;
}

.default .btn-primary:hover,.default .btn-primary:active,.default .btn-primary:focus{
	background:#FFF;
	border-color:#FFF !important;
	color:#4DA6FF;
	outline:none;
}


.default .navbar-custom .nav li a {
    border-top: 3px solid #4DA6FF;
}

.default .navbar-custom .nav li.active a {
    color: #FFF;
    border-top: 3px solid #FFF;
}

.default .section-heading h2 {
    color: #222222;
}

.default .progress-bar {
    background:#4DA6FF;
}

.default .facts-detail span {
    color:#4DA6FF;
}

.default .service-box-icon {
    color: #FFF;
    background:#4DA6FF;
}

.default .portfolio-filters li {
    border: 2px solid #4DA6FF;
}

.default .portfolio-filters li:hover{
    background-color: #4DA6FF;
    color:#fff;
    border-color:#4DA6FF;
}

.default .portfolio-filters li.active{
    background-color:#4DA6FF;
    color:#fff;
    border-color:#4DA6FF;
}

.default .image-overlay{
    background: rgba(77,166,255,.6);
}

.default .cv-timeline-main:before {
    background:#4DA6FF;
}

.default .cv-timeline-main > li .time-icon {
    color: #4DA6FF;
}

.default .cv-timeline-main h4 {
    color: #4DA6FF;
}
.default #testimonials .section-heading h2{
    color:#FFF;
}

.default #testimonials .owl-controls .owl-page.active span {
    background: #4DA6FF;
}

.default .contact-address i {
    border: 1px solid #4DA6FF;
    color: #4DA6FF;
}

.default .scrollup {
	background:rgba(34,34,34,.9);
}

.default .scrollup:hover{
	background:rgba(34,34,34,.6);
}

.default footer {
    background:#222222;
}

.default footer ul.footer-social li a:hover {
    color: #222222;
}

.experience-link {
	color: #222222;
}